[submodule "test/kmtest"]
	path = test/kmtest
	url = https://github.com/SergiusTheBest/kmtest
[submodule "test/FindWDK"]
	path = test/FindWDK
	url = https://github.com/SergiusTheBest/FindWDK
	branch = stl
